<!-- FOOTER -->
<!DOCTYPE html>
<html lang="en">
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>© 2016 Pokemon GO Express, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
  </footer>
</html>
