<!DOCTYPE html>
<html lang="en">
<div class="navbar-wrapper">
  <div class="container">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ domain }}/">Pokemon GO Express</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ domain }}/">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">GO Teams<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ domain }}/teams">Join a Team</a></li>
                <li><a href="#">Instinct</a></li>
                <li><a href="#">Mystic</a></li>
                <li><a href="#">Valor</a></li>
              </ul>
            </li>
            <li><a href="{{ domain }}/pokemons">GO Catch</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Go Chat <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ domain }}/pokechat">All Chat</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Team Chat</li>
                <li><a href="#">Instinct</a></li>
                <li><a href="#">Mystic</a></li>
                <li><a href="#">Valor</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </div>
</div>
</html>
