<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>Pokemon GO Express</title>
    <meta name="description" content="{SITE_DESCRIPTION}">
    <meta name="keywords" content="{SITE_KEYWORDS}">
    <meta name="author" content="{SITE_NAME}">
    <meta name="company" content="{SITE_NAME}">
    <meta name="copyright" content="Copyright (c) 2016 {SITE_NAME}">

    <link rel="shortcut icon" type="image/png" href="{FAVICON_32x32}">
    <link rel="apple-touch-icon" sizes="152x152" href="{FAVICON_152x152}">
    <link rel="apple-touch-icon" sizes="144x144" href="{FAVICON_144x144}">
    <link rel="apple-touch-icon" sizes="120x120" href="{FAVICON_120x120}">
    <link rel="apple-touch-icon" sizes="114x114" href="{FAVICON_114x114}">
    <link rel="apple-touch-icon" sizes="72x72" href="{FAVICON_72x72}">
    <link rel="apple-touch-icon-precomposed" href="{FAVICON_57x57}">

    <link rel="dns-prefetch" href="{PREFECT_THIS_HOST}">

    <link href="{RSS}" rel="alternate" type="application/rss+xml" title="{SITE_NAME}">
    <link rel="next" href="{NEXT_PAGE}">

    <link rel="publisher" href="{SOCIAL_GOOGLEPLUS}">
    <meta name="application-name" content="{SITE_NAME}">
    <meta name="msapplication-TileColor" content="{BASE_COLOR}">
    <meta name="msapplication-TileImage" content="{FAVICON_144x144}">
    <meta name="description" content="{DESCRIPTION}">

    <meta property="og:site_name" content="{SITE_NAME}">
    <meta property="fb:app_id" content="{SOCIAL_FACEBOOK_APP_ID}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{SITE_URL}">
    <meta property="twitter:site" content="@{SOCIAL_TWITTER}">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="/assets/css/master.css">
  </head>
  <body>
    {{> navbar }}
    <script src="\assets\js\app.merged.js"></script>
  </body>
</html>
