<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>Pokemon GO Express</title>
    <meta name="description" content="{SITE_DESCRIPTION}">
    <meta name="keywords" content="{SITE_KEYWORDS}">
    <meta name="author" content="{SITE_NAME}">
    <meta name="company" content="{SITE_NAME}">
    <meta name="copyright" content="Copyright (c) 2016 {SITE_NAME}">

    <link rel="shortcut icon" type="image/png" href="{FAVICON_32x32}">
    <link rel="apple-touch-icon" sizes="152x152" href="{FAVICON_152x152}">
    <link rel="apple-touch-icon" sizes="144x144" href="{FAVICON_144x144}">
    <link rel="apple-touch-icon" sizes="120x120" href="{FAVICON_120x120}">
    <link rel="apple-touch-icon" sizes="114x114" href="{FAVICON_114x114}">
    <link rel="apple-touch-icon" sizes="72x72" href="{FAVICON_72x72}">
    <link rel="apple-touch-icon-precomposed" href="{FAVICON_57x57}">

    <link rel="dns-prefetch" href="{PREFECT_THIS_HOST}">

    <link href="{RSS}" rel="alternate" type="application/rss+xml" title="{SITE_NAME}">
    <link rel="next" href="{NEXT_PAGE}">

    <link rel="publisher" href="{SOCIAL_GOOGLEPLUS}">
    <meta name="application-name" content="{SITE_NAME}">
    <meta name="msapplication-TileColor" content="{BASE_COLOR}">
    <meta name="msapplication-TileImage" content="{FAVICON_144x144}">
    <meta name="description" content="{DESCRIPTION}">

    <meta property="og:site_name" content="{SITE_NAME}">
    <meta property="fb:app_id" content="{SOCIAL_FACEBOOK_APP_ID}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{SITE_URL}">
    <meta property="twitter:site" content="@{SOCIAL_TWITTER}">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="/assets/css/master.css">
  </head>
  <body>
    {{> navbar }}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="/assets/i/instinct.png" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Instinct</h1>
              <p>Lightning makes no sound until it strikes</p>
              <p><a class="btn btn-lg btn-warning" href="#" role="button">Join this team</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="/assets/i/mystic.png" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Mystic</h1>
              <p>Winter is coming.</p>
              <p><a class="btn btn-lg btn-info" href="#" role="button">Join this team</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="/assets/i/valor.png" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Valor</h1>
              <p>In the darkest night, we are the flame.</p>
              <p><a class="btn btn-lg btn-danger" href="#" role="button">Join this team</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="container team-info">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/assets/i/candela.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Candela</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/assets/i/blanche.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Blanche</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/assets/i/spark.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Spark</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Team Valor. <span class="text-muted">Let your passion burn.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="/assets/i/moltres.png" data-holder-rendered="true">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Team Mystic. <span class="text-muted">Stay chill.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="/assets/i/articuno.png" data-holder-rendered="true">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Team Instinct. <span class="text-muted">Follow your instinct.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="/assets/i/zapdos.png" data-holder-rendered="true">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
      {{> footer }}


    </div>

    <script src="\assets\js\app.merged.js"></script>
  </body>
</html>
