@import 'pokechat';
@import 'teams';
@import 'bootstrap-custom';
body{
    background-color:black;
    color:white;
}

@media (min-width: 768px){
  .navbar-wrapper {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 20;
      margin-top: 20px;
      .navbar{
        border-radius: 4px;
      }

  }
}

.navbar-wrapper{
  .container{
    padding-right: 0;
    padding-left: 0;
    .navbar{
      padding-right: 15px;
      padding-left: 15px;
      margin-bottom:0;
    }
  }
}
