$border : 2px solid white;

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.border{
  border:$border;
  border-radius: 3px;
}

.banner{
  display:none;
}

.pokechat{
  padding:0;
}

.pokechat__console{
  position:relative;
  padding-top:0;
  margin-bottom:45px;
  overflow-x: hidden;
  .pokechat__console--left{
    height:15%;
    margin:0;
    border-top: $border;
    border-bottom: $border;
    background:url('/assets/i/allchat-online.png');
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
    .online-list{
      // position:absolute;
      // bottom:0;
      a, a:visited{
        font-size:24px;
        color:white;
        text-decoration: none;
      }
    }
    .members{
      color:black;
      list-style-type: none;
      margin:0;
      .online{
        width:20px;
        padding-right:5px;
        padding-left:5px;
      }
    }
  }

  .pokechat__console--right{
    overflow-y:auto;
    position:relative;
    height:80vh;
    .message-container{
      margin-right: 15px;
      margin-left: 15px;
    }
    .messages{
      color:black;
      list-style-type: none;
      li{
        padding:5px;
        background: white;
        margin-bottom:20px;
        position:relative;
        @extend .border;
        .messages--name{
          font-size:12px;
          font-weight:bold;
        }
        .messages--text{
          font-size:16px;
          word-wrap: break-word;
        }
        .messages--time{
          font-size:12px;
          font-weight:lighter;
          position: absolute;
          bottom:0;
          right:0;
          padding-right:10px;;
        }
      }
      .join-left{
        font-weight: bold;
        border: 0;
      }
    }
  }

  .pokechat__form{
    margin:0;
    padding:0;
    padding-top:2px;
    position: fixed;
    right:0;
    bottom: 0;
    width:100%;

    input[type="text"]{
      color:black;
      float:left;
      border:0;
      padding:10px;
    }

  }
}

@media(min-width:768px){
  .banner{
    display:block;
    height:200px;
    color:white;
    padding-top:71px;
    background:url('/assets/i/allchat.png');
    background-size: contain;
    background-position:bottom right;
    background-repeat: no-repeat;
    h1{
      float:left;
      width:20%;
    }
  }
  .pokechat__console{
    height:70vh;
    border:$border;
    border-radius: 3px;
    .pokechat__console--left{
      overflow-y:auto;
      height:100%;
      margin-right:15px;
      border-right:$border;
      border-top:none;
      border-bottom:none;
      background:none;
      .members{
        color:white;
        background-color:transparent;
      }
      .online-list{
        padding-top:20px;
        background:none;
      }
      .dropdown-menu{
        display: block;
      }
    }
    .pokechat__console--right{
      height:100%;
      .message-container{
        margin:0;
      }
      .pokechat__form{
        padding:0;
      }
    }

  }
}
