.carousel {
    height:auto;
    margin-bottom: 30px;
    position:relative;
    .carousel-inner {
        height:100%;
        position: relative;
        width: 100%;
        overflow: hidden;
        .item {
            h1{
              font-size:20px;
              text-transform: uppercase;
            }
            p{
              font-size:14px;
            }
            a{
              background-color:rgba(black, 0.7);
              font-size:14px;
              font-weight: bold;
              padding:8px 14px;
            }
        }
    }
}

.team-info{
    margin-bottom: 20px;
    text-align: center;
}

@media(min-width:1600px){
  .carousel-indicators {
    margin-bottom:10%;
  }
  .carousel-inner{
    .item{
      .carousel-caption {
        margin-bottom: 10%;
        h1{
          font-size:40px;
        }
        p{
          font-size:20px;
        }
        a{
          font-size:30px;
        }
      }
    }
  }

}
